{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departments list</h1>

    {{ departments | raw }}

    <ul>
        <li>
            <a href="{{ path('department_new') }}">Create a new department</a>
        </li>
    </ul>
{% endblock %}
